<p-table [value]="leaderships">
  <ng-template #header>
    <tr>
      <th>Роль</th>
      <th>Учасник</th>
      <th>Дії</th>
    </tr>
  </ng-template>
  <ng-template #body let-leadership>
    <tr>
      <td>{{ leadership.leadershipHistories[0].role }}</td>
      <td>
        <p-select [options]="members" optionLabel="fullName" placeholder="Виберіть учасника"></p-select>
      </td>
      <td>
        <button pButton type="button" label="Зберегти"></button>
      </td>
    </tr>
  </ng-template>
</p-table>