<div class="group-header">
    <app-group-chevron></app-group-chevron>
    <span class="group-head-message"> Main page of {{ group?.name }}</span>
</div>

<div class="group-panel">
    <p-table [value]="members" selectionMode="single" [(selection)]="selectedMember" dataKey="memberKey" (onRowSelect)="onMemberSelect()">
        <ng-template #header>
            <tr>
                @for (header of tableHeaders; track header) {
                    <th scope="col">{{ header }}</th>
                }
            </tr>
        </ng-template>
        <ng-template #body let-member>
            <tr [pSelectableRow]="member">
                <td>{{ member.memberKey }}</td>
                <td>{{ member.firstName }}</td>
                <td>{{ member.lastName }}</td>
            </tr>
        </ng-template>
    </p-table>
    <p-button label="Додати учасника" (onClick)="onMemberCreate()" severity="info" icon="pi pi-plus" iconPos="right" />

    <app-member-list [type]="'group'" [typeKey]="groupKey"></app-member-list>
</div>

