<div class="kurin-panel">
    <p-table [value]="data">
        <ng-template #header>
            <tr>
                @for (header of tableHeaders; track header) {
                    <th scope="col">{{ header }}</th>
                }
                <th scope="col" class="kurin-actions">
                    <p-button (onClick)="onActionClick(null, 'create')" label="Create" severity="info" icon="pi pi-plus" iconPos="right" />
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td>{{ item.kurinKey }}</td>
                <td>{{ item.number }}</td>
                <td class="kurin-actions">
                    <p-splitButton label="Open" (onClick)="onOpenClick(item.kurinKey)" [model]="actions" (onDropdownClick)="prepareItemActions(item)">

                    </p-splitButton>
                </td>
            </tr>
        </ng-template>
    </p-table>
    @if (data.length === 0) {
        <div style="margin-top: 1rem;">
            <p-message icon="pi pi-question-circle" severity="info">Наразі немає доступних куренів. Створіть один!</p-message>
        </div>
    }
</div>
<app-manage-panel
  [(visible)]="managePanelVisible"
  [parameter]="managePanelParameter"
  [entity]="selectedItem"
  [config]="managePanelConfig"
  (actionPerformed)="onManageAction($event)"
></app-manage-panel>