.kurin-header {
    display: flex;
    align-items: center;
    margin: 5rem;
}

.kurin-head-message {
    display: flex;
    margin-left: 2rem;
    font-size: 2rem;
}

.group-panel {
    margin: 5rem;

    .group-actions {
        text-align: right;
        width: 1rem;
    }
}
