@model Project_K.Infrastructure.Models.Member

@{
    ViewData["Title"] = "Додати учасника";
}

<h1>Додавання</h1>

<h4>учасника</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Ім'я</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Прізвище</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label">По батькові</label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nickname" class="control-label">Псевдо</label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">Дата народження</label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Телефон</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Електронна пошта</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telegram" class="control-label"></label>
                <input asp-for="Telegram" class="form-control" />
                <span asp-validation-for="Telegram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlastJoin" class="control-label">Дата вступу в Пласт</label>
                <input asp-for="PlastJoin" class="form-control" />
                <span asp-validation-for="PlastJoin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Адреса проживання</label>
                <input asp-for="Address" id="address" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="School" class="control-label">Школа</label>
                <input asp-for="School" id="school" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="KurinLevelId" class="control-label">Курінний ранг</label>
                <select asp-for="KurinLevelId" class ="form-control" asp-items="ViewBag.KurinLevelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Зареєструвати" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_AutocompleteScript");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
