@{
    ViewData["Title"] = "Вхід в додаток";
}

<h2>@ViewData["Title"]</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@ViewBag.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label for="email">Email</label><br />
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="password">Пароль</label><br />
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <label for="rememberMe">Запам'ятати?</label><br />
        <input type="hidden" name="rememberMe" value="false" />
        <input type="checkbox" id="rememberMe" name="rememberMe" value="true" />
    </div>
    <div>
        <input type="submit" value="Ввійти" />
    </div>
</form>