<h2>Реєстрація нового користувача</h2>
<form method="post" action="/Account/Register">
    <div>
        <label for="email">Email</label><br />
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="password">Пароль</label><br />
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <label for="passwordConfirm">Підтвердіть пароль</label><br />
        <input type="password" id="passwordConfirm" name="passwordConfirm" required />
    </div>
    <div>
        <input type="submit" value="Реєстрація" />
    </div>
</form>
