@{
    ViewBag.Title = "Сторінка не знайдена";
}
<center>
    <h1>404 - Сторінка не знайдена</h1>
    <p>На жаль, запитувана сторінка не існує.</p>
    <img src="~/images/flame.gif" width="40px" />
</center>
