@if (members.length > 0) {
    <div class="mt-4">
        <p-table #memberTable dataKey="memberKey" [value]="members" stripedRows [globalFilterFields]="['lastName', 'firstName']" selectionMode="single" [(selection)]="selectedMember" (onRowSelect)="onMemberSelect()">
            <ng-template #caption>
                <div class="member-list-header">
                    @if (type === 'kurin') {
                        <h3 class="text-xl font-bold">Всі учасники куреня</h3>
                    } @else if (type === 'group') {
                        <h3 class="text-xl font-bold">Учасники гуртка</h3>
                    }
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" (input)="memberTable.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                    </p-iconfield>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th scope="col">Member Key</th>
                    <th pSortableColumn="lastName">
                        <div class="flex items-center gap-2">
                            Name
                            <p-sortIcon field="lastName" />
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-member>
                <tr [pSelectableRow]="member">
                    <td>{{ member.memberKey }}</td>
                    <td>{{ member.lastName + ' ' + member.firstName }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
}