<p>upsert-member works! {{memberKey}}</p>
<p-confirmdialog />
<form #form="ngForm">
    <div>
        <div>
            <p-floatlabel variant="on">
                <input 
                    pInputText
                    id="firstName"
                    name="firstName"
                    [(ngModel)]="member.firstName"
                    required
                    #firstNameCtrl="ngModel"
                    [invalid]="firstNameCtrl.invalid && (firstNameCtrl.dirty || firstNameCtrl.touched)"
                    autocomplete="off" />
                <label for="firstName">First Name</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
                <input
                    pInputText
                    id="middleName"
                    name="middleName"
                    [(ngModel)]="member.middleName"
                    required
                    #middleNameCtrl="ngModel"
                    [invalid]="middleNameCtrl.invalid && (middleNameCtrl.dirty || middleNameCtrl.touched)"
                    autocomplete="off" />
                <label for="middleName">Middle Name</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
                <input
                    pInputText
                    id="lastName"
                    name="lastName"
                    [(ngModel)]="member.lastName"
                    required
                    #lastNameCtrl="ngModel"
                    [invalid]="lastNameCtrl.invalid && (lastNameCtrl.dirty || lastNameCtrl.touched)"
                    autocomplete="off" />
                <label for="lastName">Last Name</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
                <input
                    pInputText
                    id="email"
                    name="email"
                    [(ngModel)]="member.email"
                    required
                    email
                    #emailCtrl="ngModel"
                    [invalid]="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)"
                    autocomplete="off" />
                <label for="email">Email</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
                <p-inputMask
                    mask="999-999-9999"
                    id="phoneNumber"
                    name="phoneNumber"
                    [(ngModel)]="member.phoneNumber"
                    required
                    #phoneNumberCtrl="ngModel"
                    [invalid]="phoneNumberCtrl.invalid && (phoneNumberCtrl.dirty || phoneNumberCtrl.touched)"
                />
                <label for="phoneNumber">Phone Number</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
                <p-datepicker
                    name="dateOfBirth"
                    [(ngModel)]="member.dateOfBirth"
                    required
                    minAge
                    #dateOfBirthCtrl="ngModel"
                    dateFormat="yy-mm-dd" />
                <label for="dateOfBirth">Date of Birth</label>
            </p-floatlabel>

            <p-fileUpload
                name="photo"
                accept="image/*"
                mode="basic"
                chooseLabel="Завантажити фото"
                (onSelect)="fileChangeEvent($event)"
                >
            </p-fileUpload>
            <p-dialog [(visible)]="displayCropper" header="Обріж фото" [modal]="true" [style]="{width: '400px'}">
                <image-cropper
                    [imageFile]="imageFile"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1"
                    format="png"
                    (imageCropped)="imageCropped($event)">
                </image-cropper>

                <div class="flex justify-content-end gap-2 mt-3">
                    <p-button label="Зберегти" icon="pi pi-check" (click)="save(); form.form.markAsTouched()"></p-button>
                    <p-button label="Скасувати" icon="pi pi-times" class="p-button-secondary" (click)="onCancelCrop()"></p-button>
                </div>
            </p-dialog>

            @if (croppedImage || member.profilePhotoUrl) {
                <h4>Попередній перегляд</h4>
                <img [src]="croppedImage || member.profilePhotoUrl" width="150" height="150" style="border-radius: 50%;" alt="Profile Photo preview" />
            }

        </div>
        <div class="upsert-member-actions">
            <p-button label="{{ isCreate ? 'Create' : 'Update' }} Member" (onClick)="submit()" [disabled]="form.invalid || form.untouched"></p-button>
            @if (!isCreate) {
            <p-button (onClick)="confirmDeleteMember($event)" severity="danger" label="Delete Profile" icon="pi pi-trash"></p-button>
            }
        </div>
    </div>
</form>